
<html>
<head> 
	<title>Moooovies</title>

</head>
<body>
	<h1>Enter A Movie Search Term</h1>
	<form action="/search_term" method="POST" enctype = "multipart/form-data"> 
		<p>
			<input type="text" name="search_term" placeholder ="enter your movie search term">
		</p>
		<p>
			<input name="commit" type = "submit" value="Search">
		</p>
		

	</form>

</body>



</html>



